p{
    color:blue;
}
.laye1{
    color:rgba(0, 128, 0, 0.321);
}
#para{
    text-align: center;
    font-weight: 88;
    font-size: 88px;
    color:red;
}
img{
    width: 600px;
    height: 400px;
}

#image{
    position: relative;
    left : 150px;
}

.col{
    position: absolute;
    color: bisque;
    height: 100px;
    width: max-content;
}