body{
    margin: 0px;
    padding: 0px;
}
p{
    color:blue;
}
.laye1{
    color:rgba(128, 0, 68, 0.754);
}
#para{
    text-align: center;
    font-weight: 88;
    font-size: 88px;
    color:rgb(255, 89, 0);
}
img{
    width: 490px;
    height: 350px;
}

#image{
    vertical-align: top;
    margin-right: 20px;
    position: relative;
    left : 0px;
}

.col{
    position :relative;
    top : 130px;
    height: 100px;
    width: 600px;
    left : 280px;
    background-color: rgba(128, 90, 0, 0.129);
}
.separe{
    position:relative;
    top : 200px;
}
.separe-fin2{
    position:relative;
    bottom: 0px;
}
.separe-fin1{
    position:relative;
    bottom: 0px;
    height: 300px;
    width : 1300px;
    background-color: rgb(0, 140, 255);
}
.souligne{
    background-color: rgba(0, 0, 0, 0.057);
    height: 2px;
    width: 400;
    margin: 0 auto;
}
nav img h2{
    display: inline-block;
}
.math{
    position: relative;
    top : 205px;
    left : 680px;
    text-align: center;
}
.phy{
    position: relative;
    top : 240px;
    left : 550px;
}
.inf{
    position: relative;
    top : 240px;
    left : 800px;
}

