p{
    color:blue;
}
.laye1{
    color:rgba(68, 128, 0, 0.834);
}
#para{
    text-align: center;
    font-weight: 88;
    font-size: 88px;
    color:rgb(255, 89, 0);
}
img{
    width: 600px;
    height: 400px;
}

#image{
    position: relative;
    left : 150px;
}

.col{
    position :relative;
    top : 130px;
    height: 100px;
    width: 600px;
    left : 280px;
    background-color: rgba(128, 90, 0, 0.129);
}
.separe{
    position:relative;
    top : 400px;
    height: 10px;
    width: 60px;
}